body {
  background: #d6cece;
}
#post-list div {
  background: #ffffff;
  border-radius: 8px;
}


.post h3 {
  margin-top: 0;
}

.post {
  transition: box-shadow 0.3s ease;
}

.post:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
